* {
    background-color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-align: center;
    color: gold;
    font-weight: 900;
    
}
 
canvas {
    border: solid 10px black;
    
}